/* css styles */
:root {
  --mermaid-bg-color: #d8dee9;
}
.title {
  color: white;
}

p {
  color:#cfd2d7;
  text-align: justify
}

p code:not(.sourceCode){
  background-color:#3b4252;
}

li code:not(.sourceCode){
  background-color:#3b4252;
}

a > code {
  color:#b48ead;
}
code {
  color:#b48ead;
   background-color:#3b4252;
}

h1, h2, h3, h4, h5, h6,li {
  color:#cfd2d7;
}
div.quarto-post a {
   color:#cfd2d7;
}

.cell-output {
  background-color: #3b4252;
  border-radius: 4px;
  color: #d8dee9;
}

/* listings */
div.quarto-post .listing-categories .listing-category {
  color: #FFFFFF;
  background-color: #55595c;
  border: solid 1px #000000;
  border-radius: .25rem;
  text-transform: uppercase;
  font-size: .65em;
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .15em;
  padding-bottom: .15em;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
}

div.quarto-listing-category.category-default{
  color: #cfd2d7;
}

/* Nav bar */
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
  --bs-navbar-color: #d8dadb;
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.8);
  --bs-navbar-disabled-color: rgba(216, 218, 219, 0.75);
  --bs-navbar-active-color: white;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #d8dadb;
  --bs-navbar-brand-hover-color: white;
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25;
  --bs-navbar-toggler-padding-x: 0;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23d8dadb' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(216, 218, 219, 0);
  --bs-navbar-toggler-border-radius: 0.25rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative ;
}

/*
Add different coloured animation for hovers 
Reduce padding around edges to look cleaner
Increase spacing between elements
*/

.navbar {
  background-color: #272b30;
  color: #d8dadb;
}


.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 17px;
  position: relative;
}

.navbar ul li:nth-child(1)::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #6f42c1;
  position: absolute;
  left:0;
  bottom:-9px;
  transition: 0.5s;
}

.navbar ul li:nth-child(2)::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #ebcb8b;
  position: absolute;
  left:0;
  bottom:-9px;
  transition: 0.5s;
}

.navbar ul li:nth-child(3)::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #b48ead;
  position: absolute;
  left:0;
  bottom:-9px;
  transition: 0.5s;
}

.navbar ul li:nth-child(4)::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #62c462;
  position: absolute;
  left:0;
  bottom:-9px;
  transition: 0.5s;
}

.navbar ul li:nth-child(5)::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #88c0d0;
  position: absolute;
  left:0;
  bottom:-12px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.navbar-brand {
  padding: .75rem 1rem calc(24px - 0.75rem);
  margin-right: 0;
  border-right: 1px solid rgba(0,0,0,.2);
    border-right-width: 0px;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color);
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  list-style: none;
}

.navbar-nav .nav-link {
  padding-left: 0rem;
  padding-right: 0rem;
}

.navbar .nav-link {
  padding: 0rem;
    padding-right: 0rem;
    padding-left: 0.5rem;
  border-right: 0px solid rgba(0,0,0,.2);
  border-left: 0px solid rgba(255,255,255,.1);
}

/* Change about link hovers, blue for linkedin, green for github

*/

div.quarto-about-solana .about-entity .about-link {
  background: transparent;
  text-decoration: none;
  border: solid 1px;
}

div.quarto-about-solana .about-entity .about-link:nth-child(1):hover{
  color:#88c0d0;
}

div.quarto-about-solana .about-entity .about-link:nth-child(2):hover{
  color: #62c462;
}


