/*-- scss:rules --*/

#title-slide {
  .title {
    font-size: 1.5em;
    color: #524e4e;
  }
  .quarto-title-author {
    font-size: 1em;
    color: #524e4e;
  }
  .date {
    font-size: 1em;
    color: #524e4e;
  }
}

.smaller-text {
  font-size: 0.8em;
}
